[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = {extras = ["socks"]}
flask = "*"
google-api-python-client = "*"
"oauth2client" = "*"
flask-restful = "*"
dropbox = "*"
gunicorn = "*"
pytest = "*"
responder = "*"
pysocks = "*"


[dev-packages]



[requires]

python_version = "3.6"


[pipenv]

allow_prereleases = true
