<!doctype html>
<html amp lang="en">

<title>
    Helixcs Simple Box
</title>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="//opensource.google.com/assets/static/css/main-d44d8728ea1223aa7cbd4d87a21d6f2b.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Google+Sans|Roboto:400,500|Roboto+Mono:400">
    <style>
        body{
            margin:10px;
        }



    </style>
</head>
<body>
<nav>
    <h1>
        Helixcs Simple Box API
    </h1>
    <hr>
    <ul>
        <li>
            <div>
                <span>dropbox 远程<font color="red">default</font> 文件列表:</span>
                <a href="/api/dropbox/folder/list?rfp=default" target="_blank"> /api/dropbox/folder/list?rfp=default</a>
            </div>
        </li>

        <li>
            <div>
                <span>dropbox 外部资源上传:</span>
                <a target="_blank" href="/api/dropbox/file/upload?eu=https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">
                    /api/dropbox/file/upload?eu=https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
                </a>
            </div>
        </li>

        <li>
            <div>
                <span>dropbox 页面上传:</span>
                <a href="/view/dropbox/file/upload" target="_blank">/view/dropbox/file/upload</a>
            </div>
        </li>
    </ul>
</nav>

<div class="footer">
    <footer>

    </footer>
</div>

</body>
</html>
