<!doctype html>
<html amp lang="en">

<title>
    Helixcs Simple Box
</title>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="//opensource.google.com/assets/static/css/main-d44d8728ea1223aa7cbd4d87a21d6f2b.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Google+Sans|Roboto:400,500|Roboto+Mono:400">
    <style>
        body{
            margin:10px;
        }
    </style>
</head>
<body>
<nav>
    <h1>
        Helixcs Simple Box
    </h1>
    <h2>
        Font From Google
    </h2>
</nav>

<div class="footer">
    <footer>

    </footer>
</div>

</body>
</html>
